<html>
	<head>
		<title>Photo {{name}}</title>
    <script src="/_utils/script/jquery.js"></script>
    <script src="/_utils/script/jquery.couch.js"></script>
    <script src="../../vendor/couchapp/jquery.couch.app.js"></script>
    <script type="text/javascript" charset="utf-8">
      var gApp;
      $.couch.app(function (app) {
        gApp = app;
        
        var query, path, startPart;
        
        query = app.req.query;
        path = app.req.path;
        
        query.from_list = query.from_list || "thumbnails";
        query.via_view = query.via_view || "by_date";
        startPart = (query.via_key) ? "&startkey=" + query.via_key + "&startkey_docid=" + app.req.path[5] : "";
        
        // TODO: don't hardcode limit
        $("#backLink").attr('href', app.db.uri + app.design.doc_id + "/_list/" + query.from_list + "/" + query.via_view +
                            "?limit=150&reduce=false&descending=true" + startPart);
        
        if (!startPart) {
          // TODO: when query.via_key is missing, "just" regenerate as the fallback query.via_view would.
          $("#backLink").text("View all thumbnails");
          $("#prevLink").hide();
          $("#nextLink").hide();
          return;
        }
        function nextLink(response) {
          var photo = response.rows[0];
          if (!photo) return;
          $("#nextLink").attr('href', app.db.uri + app.design.doc_id + "/_show/" + path[4] + "/" + photo.id +
                              "?via_view=" + query.via_view + "&via_key=" + JSON.stringify(photo.key) + "&from_list=" + query.from_list);
        }
        function prevLink(response) {
          var photo = response.rows[0];
          if (!photo) return;
          $("#prevLink").attr('href', app.db.uri + app.design.doc_id + "/_show/" + path[4] + "/" + photo.id +
                              "?via_view=" + query.via_view + "&via_key=" + JSON.stringify(photo.key) + "&from_list=" + query.from_list);
        }
        app.view(query.via_view + "?reduce=false&descending=true&limit=1&skip=1" + startPart, {success: prevLink});
        app.view(query.via_view + "?reduce=false&descending=false&limit=1&skip=1" + startPart, {success: nextLink});
      });
    </script>
	</head>
	<body>
    <p><a id="backLink">Back to thumbnails</a></p>
    <p><a id="nextLink">After</a> <a id="prevLink">Before</a></p>
		{{#thumbnail}}<img src="{{medium}}"/><br>{{/thumbnail}}
		{{name}} @ {{timestamp}}
		
        <p style="display: block">
		Metadata document:<br/>
		{{source}}
		</p>
	</body>
</html>