<html>
	<head>
		<title>Thumbnails!</title>
    <script src="/_utils/script/jquery.js"></script>
    <script src="/_utils/script/jquery.couch.js"></script>
    <script src="../../vendor/couchapp/jquery.couch.app.js"></script>
    <script type="text/javascript" charset="utf-8">
      var gApp;
      $.couch.app(function (app) {
        gApp = app;
        
        var query, path;
        
        query = app.req.query;
        path = app.req.path;
        query.limit = query.limit || 150;
        
        {{#nextRestarts}}
        //$("#nextLink").text("Start over");
        $("#nextLink").hide();
        {{/nextRestarts}}
        
        function prevLink(response) {
          var photo = response.rows[response.rows.length - 1];
          if (!photo) {
            $("#prevLink").hide();
            return;
          }
          $("#prevLink").attr('href', app.db.uri + app.design.doc_id + "/_list/" + path[4] + "/" + path[5] +
                              "?limit=" + query.limit + "&reduce=false&descending=true" + 
                              "&startkey=" + JSON.stringify(photo.key) + "&startkey_docid=" + photo.id);
        }
        app.view(path[5] + "?reduce=false&descending=false&skip=1&limit=" + (query.limit - 1) +
                 "&startkey={{first_key}}&startkey_docid={{first_docid}}", {success: prevLink});
      });
    </script>
	</head>
	<body>
    <p><a id="homeLink" href="../../index.html">Back to start page</a></p>
    
    <a id="prevLink">Newer</a>
		<div>
		{{#photos}}
		<a href="{{link}}"><img alt="{{name}}" src="{{src}}"></a>
		{{/photos}}
		</div>
    <a id="nextLink" href="{{nextLink}}">Older</a>
    
		<p style="display: none">
		Debugging garbage:<br/>
		{{info}}
		</p>
	</body>
</html>