<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>ShutterStem Geotagger</title>
    <!--
    <script src="d3.min.js"></script>
    <script src="d3.geo.min.js"></script>
    <script src="fermata.min.js"></script>
    <script src="polymaps.min.js"></script>
    -->
    
    <script src="../_attachments/d3.min.js"></script>
    <script src="../_attachments/d3.geo.min.js"></script>
    <script src="../_attachments/fermata.min.js"></script>
    <script src="../_attachments/polymaps.min.js"></script>
    
    <style>
        #map { width: 100%; height: 450px; }
        #timeline { width: 100%; height: 75px; border: 1px solid gray; }
        #thumbnails { width: 100%; margin: 5px 0; padding: 0; list-style: none; white-space: nowrap; overflow: auto; }
        #thumbnails li { display: inline; margin: 4px; }
    </style>
</head>
<body>
    <div id="controls">
        <label>Timezone <input id="timezone" type="range" min="-12" max="12" step="1" value="0"></label>
        <label id="tz_val" for="timezone">0h</label> : <label id="aj_val" for="adjuster">0m</label>
        <label><input id="adjuster" type="range" min="-30" max="30" value="0" disabled> Adjustment</label>
    </div>
    <div id="map"></div>
    <div id="timeline"></div>
    <ol id="thumbnails"></ol>
    
    <script id="setup" data-photo_db="http://localhost:5984/photos" data-location_db="http://localhost:5984/loctest" data-photo_rows="{{ photo_rows }}"></script>
    <script>
        // stub to facilitate quicker local iteration
        var req = new XMLHttpRequest();
        req.open('GET', "http://localhost:5984/photos/_design/shutterstem-t3/_view/by_date?reduce=false&startkey=[2007,7,1]&limit=22", false);
        req.send();
        d3.select("#setup").attr('data-photo_query', req.response);
    </script>
    
    <script>
        var setupEl = d3.select("#setup"),
            photo_query = JSON.parse(setupEl.attr('data-photo_query')),
            photo_db = setupEl.attr('data-photo_db')
            location_db = setupEl.attr('data-location_db');
        
        function dateAsArrayUTC(date) {
            return [
                date.getUTCFullYear(),      // 0
                date.getUTCMonth() + 1,     // 1
                date.getUTCDate(),          // 2
                date.getUTCHours(),         // 3
                date.getUTCMinutes(),       // 4
                date.getUTCSeconds() + (date.getUTCMilliseconds() / 1000)
            ];
        }
        function dateFromArrayUTC(arr) {
            var d = new Date();
            d.setUTCFullYear(arr[0] || 0);
            d.setUTCMonth(arr[1] - 1 || 0);
            d.setUTCDate(arr[2] || 1);
            d.setUTCHours(arr[3] || 0);
            d.setUTCMinutes(arr[4] || 0);
            d.setUTCSeconds(Math.floor(arr[5]) || 0);
            d.setUTCMilliseconds(1000 * (arr[5] - Math.floor(arr[5])) || 0);
            return d;
        }
        
        var photoDB = fermata.json(photo_db),
            photos = photo_query.rows.map(function (r) { return {id:r.id, key:r.key, time:dateFromArrayUTC(r.key).getTime()}; });
        
        var thumbnails = d3.select("#thumbnails").selectAll('.photo').data(photos);
        thumbnails.enter().append('li').append('img').attr('src', function (d) { return photoDB(d.id)(["thumbnail/64.jpg"])(); });
        
    </script>
</body>
</html>
