<!doctype html>
<html>
    <head>
    <meta charset="UTF-8">
    <title>ShutterStem - Importing {{ name }}</title>
    
    <style>
        #config { display: none; }
        .error { display: none; font-family: monospace; font-size: 150%; }
        .error h2 { color: red; }
        
        #new_photos img { margin: 10px; border-style: solid; border-width: 2px; }
        #new_photos img.pending { border-style: dotted; border-color: yellow; }
        #new_photos img.imported { border-color: green; }
        
        #import { font-size: 200%; color: green; }
        #cancel { font-size: 90%; color: gray; }
        #finish { font-size: 100%; color: blue; }
        #import, #cancel, #finish { visibility: hidden; }
        #import.enabled, #cancel.enabled, #finish.enabled { visibility: visible; }
    </style>
    <script src="{{ database_url }}/_design/shutterstem/couch.js"></script>
    <script src="{{ database_url }}/_design/shutterstem/classlist.js"></script>
    </head>
    
    <body>
        <h2>Some new images found for this source:</h2>
        <div id="new_photos"></div>
        <a href id="import">Start Import</a>
        <a href id="cancel">Cancel</a>
        <a href id="finish">Finish</a>
        
        <div id="config"
            data-database_url="{{ database_url }}"
            data-import_id="{{ _id }}"
            data-utility_path="{{ utility_path }}"
            data-csrf_token="{{ csrf_token }}"></div>
        <script>
            var config = document.getElementById('config');
            var database_url = config.getAttribute('data-database_url');
            var import_id = config.getAttribute('data-import_id');
            var utility_path = config.getAttribute('data-utility_path');
            var csrf_token = config.getAttribute('data-csrf_token');
            
            var db = new Couch(database_url);
            
            var new_photos = document.getElementById("new_photos");
            db.http("POST", null, ['_import', import_id, 'folder'], {utility:utility_path, token:csrf_token}, function (status, response) {
                // check for import started (or already in progress)
                if (status != 202 && status != 409) {
                    new_photos.innerText = JSON.stringify(response, null, 4);
                    return;
                }
                
                function performAction(e) {
                    e.preventDefault();
                    this.className = "";
                    db.http("POST", null, ['_import', import_id, this.id], null, function (status, response) {
                        updateStatus();
                    });
                }
                
                var import_button = document.getElementById("import");
                var cancel_button = document.getElementById("cancel");
                var finish_button = document.getElementById("finish");
                import_button.addEventListener("click", performAction, false);
                cancel_button.addEventListener("click", performAction, false);
                finish_button.addEventListener("click", performAction, false);
                
                function updateStatus() {
                    //new_photos.innerText = JSON.stringify(response, null, 4);
                    var response = db.get(['_import', import_id]);
                    if (!response) {
                        import_button.className = "";
                        cancel_button.className = "";
                        finish_button.className = "";
                    }
                    
                    if (response.verb.indexOf('wait') != -1) {
                        import_button.className = "enabled";
                    } else {
                        import_button.className = "";
                    }
                    
                    if (response.verb != 'cancel') {
                        cancel_button.className = "enabled";
                    } else {
                        cancel_button.className = "";
                    }
                    
                    if (!response.active) {
                        finish_button.className = "enabled";
                    } else {
                        finish_button.className = "";
                    }
                    
                    new_photos.innerHTML = "";
                    response.recent.forEach(function (image_doc) {
                        var img = new Image();
                        //img.width = img.height = 64;
                        img.alt = image_doc.path;
                        var thumb = image_doc._attachments['thumbnail/64.jpg'];
                        img.src = "data:" + thumb.content_type + ";base64," + thumb.data;
                        new_photos.appendChild(img);
                    });
                } 
                var timer = setInterval(updateStatus, 2500);
                updateStatus();
            });
            
            
            
        </script>
    </body>
</html>