<!doctype html>
<html>
    <head>
    <meta charset="UTF-8">
    <title>ShutterStem - Import from Source</title>
    
    <style>
        #config { display: none; }
        
        h2 { margin-bottom: 0.1em; }
        #start { display: block; margin-top: 1em; font-size: 150%; color: gray; }
        #start[href] { color: green; }
        
        .looking { font-style: italic; }
        
        #progress { display: none; }
        
        #stop, #undo { visibility: hidden; }
        #stop[href], #undo[href] { visibility: visible; }
        
        #log li.error .path { color: red; }
        #log li.warning .path { color: orange; }
        #log li.success .path { color: green; }
    </style>
    <script src="{{ database_url }}/_design/shutterstem/couch.js"></script>
    <script src="{{ database_url }}/_design/shutterstem/flatstache.js"></script>
    {{=<% %>=}}
    <script id="logitem_template" type="text/x-flat">
        <li class="{{ status }}"><var class="path">{{ local_path }}</var><br>{{ message }}</li>
    </script>
    <%={{ }}=%>
    </head>
    
    <body>
        <h1>ShutterStem Source</h1>
        
        <h2>Image sharing</h2>
        <label><input id="allow_originals" type="checkbox" disabled>Allow hosting and export of original images in <var class="local_path">this folder</var>.</label>
        
        <section id="preview">
            <h2>Previously imported:</h2>
            <div id="recent_photos"></div>
            <div id="recent_photos_info"><span class="looking">
            Looking for previously imported {{ name }} images.
            </span></div>
            
            <h2>Ready for import:</h2>
            <div id="new_photos"></div>
            <div id="new_photos_info"><span class="looking">
            Looking for new images in <var class="local_path">this document's folder</var>.
            </span></div>
            <a id="start">Begin Import</a>
        </section>
        
        <section id="progress">
            <h2>Importing:</h2>
            <span id="log_summary"></span> <a id="stop">Stop</a> <a id="undo">Undo</a>
            <ul id="log"></ul>
        </section>
        
        <div id="config"
            data-database_url="{{ database_url }}"
            data-import_id="{{ _id }}"
            data-utility_path="{{ utility_path }}"
            data-csrf_token="{{ csrf_token }}"></div>
        <script>
            var config = document.getElementById('config');
            var database_url = config.getAttribute('data-database_url');
            var import_id = config.getAttribute('data-import_id');
            var utility_path = config.getAttribute('data-utility_path');
            var csrf_token = config.getAttribute('data-csrf_token');
            var db = new Couch(database_url);
            
            
            var folder = utility_path.split("/").slice(0, -1).join("/");
            
            var allow_originals = document.getElementById("allow_originals");
            db.http("POST", null, ['_local_shutterstem', 'folder', import_id, 'update'], {utility:utility_path, token:csrf_token}, function (status, response) {
                if (status !== 200) {
                    console.warn("Bad response for folder when trying to update originals hosting.");
                    return;
                }
                
                allow_originals.disabled = false;
                allow_originals.checked = response.allows_originals;
                allow_originals.addEventListener("change", function () {
                    var action = (allow_originals.checked) ? 'allow' : 'disable';
                    db.http("POST", null, ['_local_shutterstem', 'folder', import_id, action], {utility:utility_path, token:csrf_token}, function (status) {
                        if (status !== 200) {
                            console.warn("Bad response for folder when trying to change originals hosting.");
                            allow_originals.disabled = true; allow_originals.checked = false;
                        }
                    });
                }, false);
            });
            
            var start = document.getElementById("start");
            var stop = document.getElementById("stop");
            var undo = document.getElementById("undo");
            
            db.http("POST", null, ['_local_shutterstem', 'import', import_id, 'create'], {utility:utility_path, token:csrf_token}, function (status, response) {
                // check for import started (or already in progress)
                if (status == 409) {
                    if (response.verb.indexOf('wait') === -1) {
                        showProgress();
                        return;
                    }
                } else if (status != 201) {
                    document.getElementById("preview").style.display = "none";
                    document.getElementById("progress").style.display = "block";
                    var item = {status:'error', local_path:database_url, message:"Unexpected error from server: " + JSON.stringify(response)};
                    log.appendChild(Flatstache.elementify('logitem_template', item));
                    return;
                }
                
                start.href = db.urlFor(['_local_shutterstem', 'import', import_id, 'begin']);
                window.onunload = function () {
                    var query = {token:csrf_token, utility:utility_path};
                    db.http("POST", null, ['_local_shutterstem', 'import', import_id, 'cancel'], query);
                    db.http("POST", null, ['_local_shutterstem', 'import', import_id, 'finish'], query);
                };
            });
            
            start.addEventListener("click", function (e) {
                e.preventDefault();
                if (!this.href) {
                    return;
                } else {
                    this.href = null;
                    window.onunload = null;
                }
                
                var info = null;
                var query = {token:csrf_token, utility:utility_path};
                db.http("POST", info, ['_local_shutterstem', 'import', import_id, 'begin'], query, function (status, response) {
                    if (status === 202) {
                        showProgress();
                    }
                });
            }, false);
            
            stop.addEventListener("click", cancelImport, false);
            undo.addEventListener("click", cancelImport, false);
            function cancelImport(e) {
                e.preventDefault();
                if (!this.href) {
                    return;
                } else {
                    this.href = null;
                }
                
                var query = {token:csrf_token, utility:utility_path};
                if (this === stop) {
                    query['keep'] = true;
                } else {
                    stop.href = null;
                }
                db.http("POST", null, ['_local_shutterstem', 'import', import_id, 'cancel'], query, function (status, response) {
                    if (status === 202) {
                        this.href = null;
                    }
                });
            }
            
            var log_position = 0, log_size = 50;
            var log = document.getElementById('log');
            var log_summary = document.getElementById('log_summary');
            function showProgress() {
                document.getElementById("preview").style.display = "none";
                document.getElementById("progress").style.display = "block";
                window.onunload = null;
                
                db.get(['_local_shutterstem', 'import', import_id], {log_skip:log_position, log_limit:log_size}, function (status) {
                    var description;
                    if (status.verb == 'cancel') {
                        description = "Import cancelled";
                    } else {
                        if (status.imported > 1) {
                            description = "Imported " + status.imported + " images";
                        } else if (status.imported) {
                            description = "One image imported";
                        } else {
                            description = "No images imported";
                        }
                    }
                    if (status.remaining > 1) {
                        description += ", " + status.remaining + " in progress";
                    } else if (status.remaining > 1) {
                        description += ", one in progress";
                    }
                    if (status.verb.indexOf("scan") !== -1) {
                        description += " and still looking for more.";
                    } else if (status.verb == 'done' || status.verb == 'cancel') {
                        description += ".";
                    } else {
                        description += "...";
                    }
                    log_summary.textContent = description;
                    
                    if (status.verb == 'cancel') {
                        stop.href = null;
                        undo.href = null;
                    } else if (status.verb == 'done') {
                        stop.href = null;
                        undo.href = db.urlFor(['_local_shutterstem', 'import', import_id, 'cancel']);
                    } else {
                        stop.href = db.urlFor(['_local_shutterstem', 'import', import_id, 'cancel'], {'keep':true});
                        undo.href = db.urlFor(['_local_shutterstem', 'import', import_id, 'cancel']);
                    }
                
                    status.log.forEach(function (item) {
                        item.status = (item.error) ? "error" : "warning";
                        item.local_path = item.path.replace(import_id, function (str, idx) { return (idx == 0) ? folder : str; });
                        log.appendChild(Flatstache.elementify('logitem_template', item));
                    });
                    log_position += status.log.length;
                    if (status.verb != 'cancel') {
                        setTimeout(showProgress, (status.log.length < log_size) ? 1500 : 0);
                    }
                    
                    if (status.verb == 'done' || status.verb == 'cancel') {
                        window.onunload = function () {
                            var query = {token:csrf_token, utility:utility_path};
                            db.http("POST", null, ['_local_shutterstem', 'import', import_id, 'finish'], query);
                       };
                    }
                });
            }
        </script>
    </body>
</html>