<!doctype html>
<html>
    <head>
    <meta charset="UTF-8">
    
    <title>ShutterStem</title>
    
    <style>
    body { background: black; }
    .frame { width: 512px; height: 512px; margin: 32px; float: left; }
    .image { border: 6px solid white; }
    .selected { border: 6px solid blue; }
    </style>
    
    <script>
        function Couch(url) {
            this.url = url;
        }
        Couch.prototype.urlFor = function (path, query) {
            if (path.join) {
                path = path.join("/");
            }
            if (query) {
                path += "?" + Object.keys(query).map(function (key) {
                    if (key[0] === '$') {
                        return encodeURIComponent(key.slice(1)) + "=" + encodeURIComponent(JSON.stringify(query[key]));
                    } else {
                        return encodeURIComponent(key) + "=" + encodeURIComponent(query[key]);
                    }
                }).join("&");
            }
            return this.url + "/" + path;
        };
        Couch.prototype.http = function (method, obj, path, query, callback) {
            var req = new XMLHttpRequest();
            req.open(method, this.urlFor(path, query));
            req.setRequestHeader("Content-Type", "application/json");
            req.send(JSON.stringify(obj));
            req.onreadystatechange = function() {
                if (req.readyState === req.DONE) {
                    callback(req.status, JSON.parse(req.responseText));
                }
            }
        };
        Couch.prototype.get = function (path, query, callback) {
            this.http("GET", null, path, query, function (status, result) {
                callback((status === 200) ? result : null);
            });
        };
        
        // https://developer.mozilla.org/en/DOM/element.classList
        function ClassList(element) {
            this.element = element;
            this.list = {};
            element.className.split(" ").forEach(function (token) { this.list[token] = true; }, this);
        }
        ClassList.prototype._update = function () {
            this.element.className = Object.keys(this.list).join(" ");
        };
        ClassList.prototype.add = function (token) {
            this.list[token] = true;
            this._update();
        };
        ClassList.prototype.remove = function (token) {
            delete this.list[token];
            this._update();
        };
        ClassList.prototype.contains = function (token) {
            return (token in this.list);
        };
        ClassList.prototype.toggle = function (token) {
            var contained = this.contains(token);
            this[contained ? "remove" : "add"](token);
            return !contained;
        };
        
    </script>
    </head>
    
    <body>
        {{#image}}
        {{>thumbnail}}
        {{/image}}
        
        <script>
            var db = new Couch("http://localhost:5984/dev");
            
            var current_set = {
                "testphoto-0.5911943938117474": true,
                "testphoto-0.04902996099554002": true,
                "testphoto-0.21655725874006748": true,
                "testphoto-0.8610267632175237": true
            };
            var images = document.querySelectorAll(".image");
            Array.prototype.forEach.call(images, function (image) {
                if (!image.classList) {
                    image.classList = new ClassList(image);
                }
                
                if (image.id in current_set) {
                    image.classList.add("selected");
                }
                image.addEventListener("click", function () {
                    var selected = this.classList.toggle("selected");
                    if (selected) {
                        current_set[this.id] = true;
                    } else {
                        delete current_set[this.id];
                    }
                }, false);
            });
        </script>
    </body>
</html>