<!doctype html>
<html>
    <head><title>ShutterStem</title>
    </head>
    <body>
        <noscript>
            <style>
                .dynamic { display: none; }
            </style>
        </noscript>
        
        <div id="padding_above" class="dynamic" style="height:{{pad_above}}px;"></div>
        <div id="origin"></div>
        {{#photo}}
        {{>thumbnail}}
        {{/photo}}
        <div id="padding_below" class="dynamic" style="height:{{pad_below}}px;"></div>
        
         <script>
            window.location.hash || (window.location.hash = "origin");
        </script>
    </body>
</html>