<!doctype html>
<html>
    <head>
    <meta charset="UTF-8">
    <title>ShutterStem - {{ title }}</title>
    <!-- SHUTTERSTEM-TOKEN({{ csrf_token }})TOKEN-SHUTTERSTEM -->
    
    <style>
        #config { display: none; }
        .error { display: block; width: 400px; font-family: sans-serif; font-size: 105%; }
        .error h1 { font-family: monospace; font-size: 200%; color: red; }
        #server_frame { border-style: none; display: block; width: 100%; height: 100%; margin: -8px 0px; padding: 0px; }

    </style>
    </head>
    
    <body>
        
        <noscript class="error">
        <h1>JavaScript must be enabled.</h1>
        In the your browser, and like such as.
        </noscript>
        
        <div id="bad_location" class="error" style="display: none;">
        <h1>Bad save.</h1>
        This utility must be saved as a plain HTML file in {{{ location_html }}}, on your ShutterStem database's local host.
        </div>
        
        <div id="bad_location" class="error" style="display: none;">
        <h1>Bad save.</h1>
        This utility must be saved as a plain HTML file in {{{ location_html }}}, on your ShutterStem database's local host.
        </div>
        
        <div id="load_fail" class="error" style="display: none;">
        <h1>Server down?</h1>
        This utility must be opened on the machine actively hosting the ShutterStem database from whence it came.
        </div>
        
        <iframe id="server_frame"></iframe>
        
        <div id="config" data-frame_host="{{ frame_host }}" data-frame_path="{{ frame_path }}" data-frame_message="{{ frame_message }}"></div>
        <script>
            var server_frame = document.getElementById('server_frame');
            if (document.location.protocol === "file:") {
                var config = document.getElementById('config');
                var frame_host = config.getAttribute('data-frame_host');
                var frame_path = config.getAttribute('data-frame_path');
                server_frame.src = frame_host + frame_path + encodeURIComponent(document.location.pathname);
                var assumeFailed = setTimeout(function () {
                    document.getElementById('load_fail').style.display = "block";
                    server_frame.style.display = "none";
                    throw "Page failed to load before timeout.";
                }, 500);
                server_frame.onload = function () {
                    clearTimeout(assumeFailed);
                    document.getElementById('load_fail').style.display = "none";
                    server_frame.style.display = "";
                    server_frame.contentWindow.postMessage(config.getAttribute('data-frame_message'), frame_host);
                }
            } else {
                document.getElementById('bad_location').style.display = "block";
                server_frame.style.display = "none";
                throw "Not saved as local HTML file.";
            }
        </script>
    </body>
</html>